
body {
    margin: 0;
    color: brown;
    

}

button {
    padding: 0;
    border: 0;
}
.logohhg {
    height: 4vh;
    aspect-ratio: 1/1;
}




@media screen and (max-width: 450px) {
    header{
        background-color: black;
        padding: 3vh 2vh;

    }
    .right_nav{
        display: flex;
        width: 50%;
        justify-content: space-between;

    }
    
    .header_nav{
        height: 4vh;
        width: 100%;
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }

}
