
body {
    margin: 0;
    color: rebeccapurple;

}

button {
    padding: 0;
    border: 0;
}
.logohhg {
    height: 4vh;
    aspect-ratio: 1/1;
}


h1, h2, h3, h5, h6 {
    margin: 0;
}

.introduction {
    height: 100vh;
    background-color: #10069f;
    align-content: flex-end  ;
}

p {
    margin: 0;
    font-size: 1rem;

}
.logo_to_main{
    font-size: 100%; 
    margin: 0 ;
    
}




/* @media screen and (max-width: 450px) {
    header{
        background-color: #10069f;
        padding: 3vh 2vh;
        position: fixed;
        width: 100%; 

    }
    .header_nav{
        height: 4vh;
        width: 100%;
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }
    .right_nav{
        display: flex;
        width: 50%;
        margin-right: 3vh; 
        justify-content: space-between;

    }
    .right_nav div {
        margin-left: 3vh;
    }
   
} */

@media screen and (max-width: 450px) {
    header{
        background-color: transparent;
     
        position: fixed;
        width: 100%; 

    }
    .header_nav{
        height: 4vh;
        margin: 3vh 2vh;
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }
    .right_nav{
        display: flex;
        width: 50%;
    
        justify-content: space-between;

    }
    .quotehhg {
        width: 100%;
    }
    
    .quoteholder{
        margin : 0 2vh 15vh 2vh;
    }
    .quoteholder h3 {
        margin: 2vh 0 0 0 ;
    }

    .background-story{
        height: 120vh;
        display: flex;
        flex-direction: column;
        background-color: #121212;


    }
    .background-story-container {

        margin: 15vh 2vh 0 2vh;

    }
    .ambience{
        width: 100%;
        margin: 0 0 5vh 0;
    }
    .vững_truyền_thống{
        width: 100%;
    }
    .scrapstory{
        margin: 3vh 0 3vh 0;
    }
    .buttonaboutus{
        margin: 3vh 0 3vh 0;
    }




    .background-story1-container{
        height: 120vh;
        display: flex;
        flex-direction: column;
        padding : 3vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 9px;
       
        /* grid-auto-rows: minmax(100px, auto); */
    }



    .background-story1{
        background-color: #fff345;
        color: black;
    }
    .ka1{
        width: 100%;
        margin: 0 0 0 0;
        grid-column: 6/ 12;
        grid-row: 4 ;    
        
       
    }
    .kal2{
        width: 100%;
        margin: 5vh 0 5vh 0;
        grid-column: 2 / 12;
        grid-row: 1;  
       
    }
    .kal3{
        width: 100%  ;
        grid-column: 1 / 10;
        grid-row: 7 / 12;
        
    }




    .background-story2-container{
        height: 120vh;
        display: flex;
        flex-direction: column;
        padding : 3vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 9px;
        grid-auto-rows: minmax(100px, auto);
    }



    .background-story2{
        background-color: #fff345;
       
    }

    .nghethuatphelieu{
        color: black;
        text-align: center;
        padding: 3vh;
    }


    .kal4{
        width: 100%;

        grid-column: 1/ 12;
        grid-row: 1 ;  
       
    }
    .kal5{
        width: 100%;
        margin: 5vh 0 5vh 0;
        grid-column: 9 / 14;
        grid-row: 3; 
      
       
    }
    .kal6{
        width: 100%  ;
        grid-column: 1/10;
        grid-row: 5 ;
      
    }

    .serviceproduct-container{
        background-color: #121212;
        width: 100%;    

    }
    .serviceproduct{
        background-color: #fff345;
    }
   
    
    .hinhanh1{
        background-image: url("../img/kal7.jpg");
        width: 100%;
        height: 100vh;
        background-position:center;
        background-size: cover;
        position: relative;
    }
 
    .hinhanh2{
        background-image: url("../img/kal8.jpg");
        width: 100%;
        height: 100vh;
        background-position:center;
        background-size: cover;
        position: relative;
        
    }
    .hinhanh3{
        background-image: url("../img/amiya9.jpg");
        width: 100%;
        height: 100vh;
        background-position:center;
        background-size: cover;
        position: relative;
        
    }
    
   .texthinhanh1{
    padding: 50vh 8vh 40vh 2vh;
    position: absolute;
   }
     
   .texthinhanh2{
    padding: 50vh 8vh 40vh 2vh;
    position: absolute;
   }
     
   .texthinhanh3{
    padding: 50vh 8vh 40vh 2vh;
    position: absolute;
   }

   .buttonseeproject{
    margin: 20vh 0 0 0 ;
 
    
   }
   .Sustainlife{
    background-color: #fff345;
   }

   .Vungkientruc{
    width: 100%;
     height:100vh;
     text-align: left;

 
     background-color:#fff345;
   }
 
    .racoon{
        margin:  15vh 0 0 0 ;
        width: 100%;
        height: 30vh;

    }
    
    .racoon1{
        margin:  3vh 0 0 0 ;
        width: 100%;
        height: 30vh;

    }

    .Vung{
        text-align: center;
    }

    .chamngonkientruc{
        margin: 2vh 2vh 0 2vh;
    }

    .buttonsustain{
        margin: 5vh 0  0 2vh;
    }

    .customerpartnership{
        background-color: #fff345;
        height: 100vh;
        width: 100%;
    }

   

    .racoon2 {
        width: 20%;

    }

    .Vungdichvu{
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: #fff345;
        font-size: 40px;
        
    }
    .chamngondichvu{
        margin: 2vh 2vh 0 2vh;

    }

    .bangnhau{
        text-align: left;
        margin: 2vh 5vh 5vh 5vh;
        
    }
    .Servicebutton{
        margin: 2vh 2vh 2vh 2vh;

    }







    .achievementment{
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: #fff345;
        font-size: 40px;
        
    }
    .thanhtuuHHG{
        margin: 2vh 2vh 0 2vh;

    }

    .thanhtuu{
        text-align: left;
        margin: 2vh 5vh 5vh 5vh;
        
    }
    .achievement{
        margin: 2vh 2vh 2vh 2vh;

    }

    .vungketqua1{
        padding: 2vh 2vh 0 2vh;
        font-size: 80%;
    }

    .vungketqua{
        font-size: 60%;
    }



    .racoon3 {
        width: 30%;
        height: 50vh;
    }
    .racoon4{
        width: 30%;
        height: 50vh;
    }
    .racoon5{
        width: 30%;
        height: 50vh;
    }

 








    .thongtin{
        text-align: center;
        padding: 0;
        margin: 0;
        background-color: #fff345;
        font-size: 40px;
        
    }
    .thongtin5{
        margin: 2vh 2vh 0 2vh;

    }

    .thongtin3{
        text-align: left;
        margin: 2vh 5vh 5vh 5vh;
        
    }
    .achievement{
        margin: 2vh 2vh 2vh 2vh;

    }

    .thongtin1{
        padding: 2vh 2vh 0 2vh;
        font-size: 80%;
    }

    .thongtin2{
        font-size: 60%;
    }



    .racoon6 {
        width: 30%;
        height: 50vh;
    }
    .racoon7{
        width: 30%;
        height: 50vh;
    }
    .racoon8{
        width: 30%;
        height: 50vh;
    }












   
}

